In [73]:
import pandas as pd
import numpy as np

data = pd.read_csv('vehicles_messy.csv')
data.head()

c:\Users\Yael Aguilar\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [56]:
#Analysing columns with null values
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [57]:
#dropping columns with more than 10,000 null values

drop_cols= list(null_cols[null_cols > 10000].index)
#drop_cols
data = data.drop(drop_cols, axis = 1)

In [58]:
#checking nulls in the rest of columns
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [59]:
#checking why cyl and displ have similar number of na's
null_displ = data[data['displ'].isnull() == True]
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]
null_displ

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
...,...,...,...,...,...,...,...,...
30969,2017,Kia,Soul Electric,Automatic (A1),Front-Wheel Drive,Electricity,NaN,NaN
30972,2016,Tesla,Model S (60 kW-hr battery pack),Automatic (A1),Rear-Wheel Drive,Electricity,NaN,NaN
30973,2016,Tesla,Model S AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30974,2016,Tesla,Model S AWD - P100D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN
30975,2016,Tesla,Model X AWD - 60D,Automatic (A1),All-Wheel Drive,Electricity,NaN,NaN

In [60]:
#filling na's with 0
data[['displ', 'cylinders']] = data[['displ', 'cylinders']].fillna(0)

In [61]:
null_displ = data[(data['trany'].isnull() == True) ]
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]
null_displ

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,0.0,0.0
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,0.0,0.0
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,0.0,0.0
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,0.0,0.0
9212,2002,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
9213,2002,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,0.0,0.0
10329,2003,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,0.0,0.0
19097,1984,Ford,F150 Pickup 2WD,NaN,2-Wheel Drive,Regular,8.0,5.8
19128,1984,GMC,C25 Pickup 2WD,NaN,2-Wheel Drive,Regular,6.0,4.1

In [62]:
data['trany'] = data['trany'].fillna('automatic')

In [63]:
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

drive    1189
dtype: int64

In [70]:
null_displ = data[(data['drive'].isnull() == True) & (data.fuelType != 'Electricity') ]
null_displ = null_displ[['year', 'make', 'model', 'trany', 'drive', 'fuelType', 'cylinders', 'displ']]
null_displ.sort_values(by='year', ascending= False)

,year,make,model,trany,drive,fuelType,cylinders,displ
21129,2002,Lotus,Esprit V8,Manual 5-spd,NaN,Premium,8.0,3.5
19616,1984,Mitsubishi,Cordia,Automatic 3-spd,NaN,Regular,4.0,2.0
19633,1984,Plymouth,Turismo,Manual 5-spd,NaN,Regular,4.0,2.2
19632,1984,Plymouth,Turismo,Automatic 3-spd,NaN,Regular,4.0,2.2
19631,1984,Plymouth,Turismo,Manual 4-spd,NaN,Regular,4.0,1.6
...,...,...,...,...,...,...,...,...
18653,1984,Chevrolet,Celebrity,Automatic 3-spd,NaN,Regular,6.0,2.8
18652,1984,Chevrolet,Celebrity,Manual 4-spd,NaN,Regular,4.0,2.5
18651,1984,Chevrolet,Celebrity,Automatic 3-spd,NaN,Regular,4.0,2.5
18650,1984,Cadillac,Seville,Automatic 4-spd,NaN,Diesel,8.0,5.7
18878,1984,Dodge,Aries Wagon,Automatic 3-spd,NaN,Regular,4.0,2.2

In [66]:
#Checking incorrect values, if we know that cylinders are 0, displ should to

test = data[(data.cylinders == 0) & (data.displ != 0)]
test[['year', 'make', 'model', 'trany', 'drive', 'cylinders', 'displ']]

       year   make model         trany             drive  cylinders  displ
21506  1986  Mazda  RX-7  Manual 5-spd  Rear-Wheel Drive        0.0    1.3

In [67]:
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

In [86]:
#Looking for low variance data since it does not bring any value if its the same data

low_variance = []
for col in data._get_numeric_data():
    if col == 'phevBlended':
        continue
    print(col)
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)

barrels08
barrelsA08
charge120
charge240
city08
city08U
cityA08
cityA08U
cityCD
cityE
cityUF
co2
co2A
co2TailpipeAGpm
co2TailpipeGpm
comb08
comb08U
combA08
combA08U
combE
combinedCD
combinedUF
cylinders
displ
engId
feScore
fuelCost08
fuelCostA08
ghgScore
ghgScoreA
highway08
highway08U
highwayA08
highwayA08U
highwayCD
highwayE
highwayUF
hlv
hpv
id
lv2
lv4
pv2
pv4
range
rangeCity
rangeCityA
rangeHwy
rangeHwyA
UCity
UCityA
UHighway
UHighwayA
year
youSaveSpend
charge240b
phevCity
phevHwy
phevComb
['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']

In [92]:
#dropping the low variance columns
data  = data.drop(low_variance, axis = 1)

In [93]:
stats = data.describe().transpose()
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
cylinders,37720.0,5.737990,1.751795,2.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000

In [94]:
outliers = pd.DataFrame(columns =data.columns)
outliers

Empty DataFrame
Columns: [barrels08, city08, city08U, co2, co2TailpipeGpm, comb08, comb08U, cylinders, displ, drive, engId, eng_dscr, feScore, fuelCost08, fuelType, fuelType1, ghgScore, highway08, highway08U, hlv, hpv, id, lv2, lv4, make, model, mpgData, phevBlended, pv2, pv4, trany, UCity, UHighway, VClass, year, youSaveSpend, guzzler, trans_dscr, tCharger, sCharger, atvType, fuelType2, rangeA, evMotor, mfrCode, c240Dscr, c240bDscr, createdOn, modifiedOn, startStop]
Index: []

[0 rows x 50 columns]

In [96]:
for col in stats.index:
    iqr = stats.at[col, 'IQR']
    cutoff = iqr * 1.5
    lower = stats.at[col, '25%'] - cutoff
    upper = stats.at[col, '75%'] + cutoff
    results = data[(data[col] < lower) | (data[col] > upper )].copy()
    results['Outlier'] = col
    outliers = outliers.append(results)

In [97]:
outliers

,barrels08,city08,city08U,co2,co2TailpipeGpm,comb08,comb08U,cylinders,displ,drive,...,fuelType2,rangeA,evMotor,mfrCode,c240Dscr,c240bDscr,createdOn,modifiedOn,startStop,Outlier
47,32.961000,9,0.0,-1,888.700000,10,0.0,8.0,5.9,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,barrels08
58,32.961000,10,0.0,-1,888.700000,10,0.0,8.0,5.2,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,barrels08
69,32.961000,10,0.0,-1,888.700000,10,0.0,8.0,5.2,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,barrels08
80,32.961000,9,0.0,-1,888.700000,10,0.0,8.0,5.9,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,barrels08
275,32.961000,9,0.0,-1,888.700000,10,0.0,8.0,7.4,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,barrels08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37475,41.201250,7,0.0,-1,1110.875000,8,0.0,8.0,6.0,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,youSaveSpend
37615,27.467500,11,0.0,-1,740.583333,12,0.0,12.0,6.0,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,youSaveSpend
37672,29.964545,9,0.0,-1,807.909091,11,0.0,8.0,6.8,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,youSaveSpend
37673,29.964545,9,0.0,-1,807.909091,11,0.0,8.0,6.8,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,youSaveSpend
37827,29.964545,10,0.0,-1,807.909091,11,0.0,8.0,6.8,Rear-Wheel Drive,...,NaN,NaN,NaN,NaN,NaN,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,youSaveSpend

In [98]:
#understanding data types
data.dtypes

barrels08         float64
city08              int64
city08U           float64
co2                 int64
co2TailpipeGpm    float64
comb08              int64
comb08U           float64
cylinders         float64
displ             float64
drive              object
engId               int64
eng_dscr           object
feScore             int64
fuelCost08          int64
fuelType           object
fuelType1          object
ghgScore            int64
highway08           int64
highway08U        float64
hlv                 int64
hpv                 int64
id                  int64
lv2                 int64
lv4                 int64
make               object
model              object
mpgData            object
phevBlended          bool
pv2                 int64
pv4                 int64
trany              object
UCity             float64
UHighway          float64
VClass             object
year                int64
youSaveSpend        int64
guzzler            object
trans_dscr         object
tCharger           object
sCharger           object
atvType            object
fuelType2          object
rangeA             object
evMotor            object
mfrCode            object
c240Dscr           object
c240bDscr          object
createdOn          object
modifiedOn         object
startStop          object
dtype: object

In [99]:
#correcting year data type

data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

In [102]:
print(set(data['trany']))

{nan, 'Manual 7-spd', 'Auto(L3)', 'Automatic (A6)', 'Auto(AV-S8)', 'Auto(AM8)', 'Automatic (S7)', 'Auto(L4)', 'Automatic (S5)', 'Automatic 5-spd', 'Manual 5 spd', 'Automatic (variable gear ratios)', 'Manual(M7)', 'Auto(AM-S7)', 'Automatic 6-spd', 'Automatic (S6)', 'Auto(AV-S6)', 'Auto (AV)', 'Auto(A1)', 'Automatic (AM5)', 'Automatic (S8)', 'Auto(AM-S8)', 'Auto(AM6)', 'Auto(AV-S7)', 'Manual 4-spd Doubled', 'Auto(AM5)', 'Automatic 4-spd', 'Auto (AV-S6)', 'Automatic 6spd', 'Manual 6-spd', 'Automatic 8-spd', 'Manual 5-spd', 'Automatic 9-spd', 'Manual 3-spd', 'Automatic (AM6)', 'Automatic 7-spd', 'Auto(AM7)', 'Automatic (AV)', 'Auto (AV-S8)', 'Auto(AM-S9)', 'Automatic (S4)', 'Automatic 3-spd', 'Automatic (AV-S6)', 'Automatic (S9)', 'Automatic (A1)', 'Manual 4-spd', 'Auto(AM-S6)'}

In [103]:
##removing '-' because some values are the same.

data['trany'] = data['trany'].str.replace('-', '')

In [104]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{nan, 'Auto AVS7', 'Auto AMS8', 'Auto 7spd', 'Auto S6', 'Auto AM6', 'Auto 5spd', 'Auto 6spd', 'Manual 7spd', 'Auto AVS8', 'Manual 5 spd', 'Auto S7', 'Auto 3spd', 'Auto 4spd', 'Manual 5spd', 'Manual 6spd', 'Auto L4', 'Auto AVS6', 'Auto AM5', 'Manual 4spd', 'Auto L3', 'Auto AM7', 'Auto S9', 'Manual 3spd', 'Auto S8', 'Auto S4', 'Auto S5', 'Auto AV', 'Auto AM8', 'Auto 8spd', 'Auto A6', 'Auto A1', 'Manual 4spd Doubled', 'Auto 9spd', 'Auto AMS9', 'Manual M7', 'Auto variable gear ratios', 'Auto AMS6', 'Auto AMS7'}